{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">用户管理</li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form layui-form-pane" action="{:url('admin/user/index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">搜索</button>
                    </div>
                </form>
                <hr>

                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th>订单确认签收时间</th>
                        <th>用户unionid</th>
                        <th>审核时间</th>
                        <th>支付时间</th>
                        <th>最后更新时间</th>
                        <th>订单状态描述</th>
                        <th>订单状态</th>
                        <th>佣金金额</th>
                        <th>佣金比例</th>
                        <th>订单生成时间</th>
                        <th>实际支付金额</th>
                        <th>订单中sku的单件价格</th>
                        <th>购买商品的数量</th>
                        <th>商品缩略图</th>
                        <th>商品标题</th>
                        <th>商品ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="$user_list" item="bk"}
                        <tr>
                            <td>{bk.order_receive_time}</td>
                            <td>{bk.custom_parameters}</td>
                            <td>{bk.order_verify_time}</td>
                            <td>{bk.order_pay_time}</td>
                            <td>{bk.order_modify_at}</td>
                            <td>{bk.order_status_desc}</td>
                            <td>{bk.order_status}</td>
                            <td>{bk.promotion_amount}</td>
                            <td>{bk.promotion_rate}</td>
                            <td>{bk.order_create_time}</td>
                            <td>{bk.order_amount}</td>
                            <td>{bk.goods_price}</td>
                            <td>{bk.goods_quantity}</td>
                            <td>{bk.goods_thumbnail_url}</td>
                            <td>{bk.goods_name}</td>
                            <td>{bk.goods_id}</td>
                        </tr>
                    </tbody>
                </table>
                <!--分页-->

            </div>
        </div>
    </div>
</div>
{/block}